:root {
	--ton-brand: 156;
	--brand-color: hsl(var(--ton-brand), 20%, 50%);
	--color-text: hsl(0, 0%, 22%);
	--color-text-inverted: white;
	--color-selected: hsl(44, 100%, 77%);
	--color-importent: hsl(5, 100%, 69%);
	--color-facebook: #4560A6;
	--color-grey: hsl(0, 2.9%, 72.5%);
	--indent: calc((100vw - 65rem) / 2);
	--menu-width: calc(var(--indent) + 9em);
	--menu-padding: 1em;
	--menu-line-height: 1em;
	--menu-radius: calc((var(--menu-padding) * 2 + var(--menu-line-height)) / 2);
	--indent-content: calc(var(--indent) - 3em);
	--brand-vertical-width: calc(var(--indent) + 10em);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

.section {
	width: 100%;
	padding: .5rem var(--indent);
}

.inverted {
	background: var(--brand-color);
	color: var(--color-text-inverted);
}

.top-panel {
	height: 5rem;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}

.top-panel img {
	width: 10em;
}

.small-logo {
	width: 7em
}

.inverted .icon {
	filter: invert(1)
}

.top-button {
	order: 1;
	margin-left: auto;
	padding: .5em 1.5em;
	border: 1px solid var(--color-text-inverted);
	border-radius: 1em;
	line-height: 1em;
	font-size: smaller;
	color: var(--color-text-inverted);
	text-decoration: none;
}

.top-button:hover {
	background: var(--color-selected);
	color: var(--color-text);
	border-color: var(--color-selected);
}

.white-panel {
	display: flex;
	justify-content: space-between;
}

.left-block {
	order: 0;
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	margin: 2em 0 1.5em 0;
	letter-spacing: .01em;
}

h1 em {
	font-style: normal;
	color: var(--brand-color);
}

nav > a {
	display: block;
	width: var(--menu-width);
	background: var(--brand-color);
	text-decoration: none;
	color: var(--color-text-inverted);
	padding: var(--menu-padding) var(--menu-padding) var(--menu-padding) var(--indent);
	font-size: x-large;
	border-top-right-radius: var(--menu-radius);
	border-bottom-right-radius: var(--menu-radius);
	line-height: var(--menu-line-height);
	margin-left: calc(0px - var(--indent));
}

.join {
	font-size: large;
	text-decoration: none;
	color: var(--color-text);
}

.join em {
	font-style: normal;
	text-decoration: underline;
	text-transform: uppercase;
	color: var(--brand-color);
}

.emphased {
	width: calc(var(--menu-width) + 2 * var(--menu-radius));
	background: var(--color-selected);
	color: var(--color-text);
}

nav img {
	display: block;
	float: right;
	--padding-icon: .3em;
	max-width: calc(2 * (var(--menu-padding) - var(--padding-icon)) + var(--menu-line-height));
	margin: calc(var(--padding-icon) - var(--menu-padding));
}

#dog {
	display: flex;
	order: 1;
	float: right;
	width: 25rem;
	margin: 0;
}

#icon-lost {
	transform: scale(1.25);
	transform-origin: top left;
}

#lost:before {
	content: "I lost my pet!";
	-webkit-transition: background-color .3s;
}

#lost:hover:before {
	content: "Click to find!";
	background-color: var(--color-selected);
	opacity: .6;
	transition: .5s all;
}

#found:before {
	content: "I found a pet!";
	-webkit-transition: background-color .3s;
}

#found:hover:before {
	content: "What to do?";
	transition: .5s all;
}

.middle-panel {
	display: flex;
	align-content: center;
	justify-content: center;
	--padding-middle-panel: calc(var(--indent) * 2.5);
	height: calc(6 * var(--menu-radius));
	font-size: x-large;
}

.text {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.text p {
	margin: 0;
}

.white-panel-list {
	margin-top: 3rem;
	display: flex;
	color: var(--brand-color);
	font-size: .9em;
}

.white-panel-list p {
	font-size: 1.5em;
}

.white-panel-list > img {
	order: 0;
	hieght: 40%;
}

.block-list {
	order: 1;
}

li {
	color: var(--color-text);
	margin: 0em;
	list-style-type: none;
	font-size: 120%;
	line-height: 1.5em;
}

li:before {
	color: var(--brand-color);
	content: "•";
	padding-right: .5em;
	font-size: 200%;
}

.red-panel {
	height: calc(4 * var(--menu-radius));
	background-color: var(--color-importent);
	color: var(--color-text-inverted);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
}

.red-panel img {
	filter: invert(1);
}

.img-heart {
	position: relative;
	width: 100%;
}

.img-heart > p {
	position: absolute;
	top: 1em;
	left: 1.8em;
	width: 100%;
}

.center-horizontal > * {
	margin-top: auto;
	margin-bottom: auto;
}

.coming {
	font-size: 300%;
	margin: 0;
}

.footer {
	height: calc(8 * var(--menu-radius));
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	font-size: small;
	margin-bottom: 0;
}
.big-logo{
	width: 15em;
}

table {
	border-spacing: 1em 0;
	padding: 0;
	line-height: 0;
	font-size: 1.1em;
}

table img {
	size: .6em;
}

.overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 60;
}

.bluer {
	filter: blur(2em);
	transition: .1s all;
}

.modal {
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	max-width: 45em;
	max-height: 27em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 70;
	box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
	border-radius: 3px;
	padding: 1em;
	background-color: var(--color-text-inverted);
	transition: 0.2s all;
	color: var(--color-grey);
}

.modal.active {
	opacity: 1;
	visibility: visible;
}

.modal__cross {
	width: .8em;
	height: .8em;
	position: absolute;
	top: 1em;
	right: 1em;
	fill: var(--color-grey);
	cursor: pointer;
}

.welcome {
	color: var(--brand-color);
}

.big-logo-brand {
	width: 25%;
	padding: 0;
filter: hue-rotate(var(--ton-brand)) saturate(100%) brightness(100%);
}

.facebook-button {
	border: .6mm solid var(--color-facebook);
	line-height: .5em;
	font-size: .7em;
	background: var(--color-facebook);
	color: var(--color-text-inverted);
	width: 15em;
	z-index: 80;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.facebook-logo {
	width: 2.5em;
}

.facebook-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.button-authorization {
	background-color: var(--brand-color);
	color: var(--color-text-inverted);
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	width: 50%;
	height: 2.5em;
	line-height: 2em;
}

.button-sing-in-light {
	opacity: .4;
}

.button-sing-in-light:hover {
	opacity: 1;
}

.authorization {
	height: 2.5em;
	text-align: center;
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

input {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: .5mm solid var(--brand-color);
	width: 16em;
}

.authorization-table {
	padding-top: 1em;
	padding-bottom: 1em;
}

.authorization-table tr {
	height: 1em;
}

.authorization-table td:nth-child(3) {
	font-size: .7em;
	overflow-wrap: anywhere;
	color: var(--color-grey);
}

.authorization-table td:first-child {
	float: right;
	font-size: smaller;
	color: var(--color-text);
	line-height: 1em;
}

.modal-footer {
	border-top: .7mm solid var(--color-grey);
	z-index: 80;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: .7em;
	padding-top: .5em;
}

.button {
	border-radius: 1.5em;
	text-decoration: none;
	border: .5mm solid var(--brand-color);
	font-size: larger;

}

#cancel-button {
	color: var(--brand-color);
	width: 8em;
	padding: 0 2.25em;
	line-height: 2.5em;
}

#submit-button {
	background-color: var(--brand-color);
	color: var(--color-text-inverted);
	width: 12em;
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: .5em;
}

.footprint-button {
	padding: 0 .5em;
}

.submit-button-name {
	padding-left: 2em;
}

.input-registration-hide {
	visibility: visible;
}

.input-registration-hide.active {
	visibility: hidden;
}
