:root {
	--brand-color: hsl(157, 20%, 50%);
	--color-text: hsl(0, 0%, 22%);
	--color-text-inverted: white;
	--color-selected: hsl(44, 100%, 77%);
	--color-importent: hsl(5, 100%, 69%);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

section {
	width: 100%;
	padding: .5rem 8rem;
}

.inverted {
	background: var(--brand-color);
	color: var(--color-text-inverted);
}

.top-panel {
	height: 3.5rem;
	display: flex;
	align-items: center;
}

.top-button {
	order: 1;
	margin-left: auto;
	padding: .5em 1.5em;
	border: 1px solid var(--color-text-inverted);
	border-radius: 1em;
	line-height: 1em;
	font-size: smaller;
	color: var(--color-text-inverted);
	text-decoration: none;
}

.top-button:hover {
	background: var(--color-selected);
	color: var(--color-text);
	border-color: var(--color-selected);
}

.small-logo {
	width: 6em;
}

h1 {
	font-size: 2.5rem;
	font-weight: normal;
	margin: 2.5em 0 1.5em 0;
}

h1 em {
	font-style: normal;
	color: var(--brand-color);
}




